services:
  # =============================================================================
  # GATEWAY
  # =============================================================================
#  gateway:
#    build: ./gateway-service
#    ports:
#      - "8080:8080"
#    depends_on:
#      - postgres
#    environment:
#      - SPRING_PROFILES_ACTIVE=local
  # =============================================================================
  # AUTH SERVICE
  # =============================================================================
  auth-service:
    build: ./auth-service
    ports:
      - "8085:8085"
    environment:
      - SERVER_PORT=8085
      - USER_SERVICE_URL=http://user-service:8081
      - CANDIDATE_SERVICE_URL=http://candidate-service:8082
      - RECRUITER_SERVICE_URL=http://recruiter-service:8083
      - JOB_SERVICE_URL=http://job-service:8084
      - JWT_SECRET=${JWT_SECRET:-mySecretKey}
      - JWT_EXPIRATION=${JWT_EXPIRATION:-86400000}
    depends_on:
      - postgres
    networks:
      - default
  # =============================================================================
  # POSTGRES
  # =============================================================================
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      TZ: "America/Sao_Paulo"
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./resources/static/sql:/docker-entrypoint-init.d
    deploy:
      update_config:
        order: stop-first
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  app-network:
    driver: bridge

volumes:
  pg_data:
